BACKEND_PORT=3300
# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=schbody
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/schbody?schema=public
#Jwt
JWT_SECRET="this is a secret"
#AuthSch
AUTHSCH_CLIENT_ID="16873903969434023692"
AUTHSCH_CLIENT_SECRET="5KhIlDHGhxzLx3FK7L81FJ5CQSuyJTLVrW0hZnbzv4jbdOHU255HuOtBgGZS38V3pHGd4SE78aq4Njze"
#Frontend
FRONTEND_URL="http://localhost:3000"
FRONTEND_AUTHORIZED_URL=http://localhost:3000/auth/callback
